[Desktop Entry]
Name=Notifications (Material)
Name[ar]=إخطارات (Material)
Name[be]=Абвяшчэнні (Material)
Name[be@latin]=Infarmavańnie (Material)
Name[bg]=Уведомяване (Material)
Name[bn]=বিজ্ঞপ্তি (Material)
Name[bn_IN]=সূচনাবার্তা (Material)
Name[br]=Kemenn (Material)
Name[bs]=Obavještenja (Material)
Name[ca]=Notificacions (Material)
Name[ca@valencia]=Notificacions (Material)
Name[cs]=Oznamování (Material)
Name[csb]=Dôwanié wiédzë (Material)
Name[da]=Bekendtgørelser (Material)
Name[de]=Benachrichtigungen (Material)
Name[el]=Ειδοποιήσεις (Material)
Name[en_GB]=Notifications (Material)
Name[eo]=Atentigoj (Material)
Name[es]=Notificaciones (Material)
Name[et]=Märguanded (Material)
Name[eu]=Jakinarazpenak (Material)
Name[fa]=اخطارها (Material)
Name[fi]=Ilmoitukset (Material)
Name[fr]=Notifications (Material)
Name[fy]=Notifikaasjes (Material)
Name[ga]=Fógairt (Material)
Name[gl]=Notificacións (Material)
Name[gu]=નોંધણીઓ (Material)
Name[he]=הודעות (Material)
Name[hi]=सूचनाएँ (Material)
Name[hne]=सूचना मन ल (Material)
Name[hr]=Obavijesti (Material)
Name[hu]=Rendszerüzenetek (Material)
Name[ia]=Notificationes (Material)
Name[id]=Pemberitahuan (Material)
Name[is]=Kerfistilkynningar (Material)
Name[it]=Notifiche (Material)
Name[ja]=通知 (Material)
Name[kk]=Құлақтандыру (Material)
Name[km]=សេចក្តី​ជូន​ដំណឹង​ (Material)
Name[kn]=ಸೂಚನೆಗಳು (Material)
Name[ko]=알림 (Material)
Name[ku]=Agahdarî (Material)
Name[lt]=Pranešimai (Material)
Name[lv]=Paziņojumi (Material)
Name[mai]=सूचनासभ (Material)
Name[mk]=Известувања (Material)
Name[ml]=അറിയിപ്പുകള്‍ (Material)
Name[mr]=सूचना (Material)
Name[ms]=Pemberitahuan (Material)
Name[nb]=Varslinger (Material)
Name[nds]=Bescheden (Material)
Name[ne]=सूचना (Material)
Name[nl]=Meldingen (Material)
Name[nn]=Varslingar (Material)
Name[oc]=Notificacions (Material)
Name[or]=ବିଜ୍ଞପ୍ତି (Material)
Name[pa]=ਨੋਟੀਫਿਕੇਸ਼ਨ (Material)
Name[pl]=Powiadomienia (Material)
Name[pt]=Notificações (Material)
Name[pt_BR]=Notificações (Material)
Name[ro]=Notificări (Material)
Name[ru]=Системные уведомления (Material)
Name[se]=Dieđáhusat (Material)
Name[si]=දැනුම් දීම් (Material)
Name[sk]=Upozornenia (Material)
Name[sl]=Obvestila (Material)
Name[sr]=обавештења (Material)
Name[sr@ijekavian]=обавјештења (Material)
Name[sr@ijekavianlatin]=obavještenja (Material)
Name[sr@latin]=obaveštenja (Material)
Name[sv]=Underrättelser (Material)
Name[ta]=Notifications (Material)
Name[te]=నోటీసులు (Material)
Name[tg]=Огоҳиномаҳо (Material)
Name[th]=การแจ้งให้ทราบต่าง ๆ (Material)
Name[tr]=Bildirimler (Material)
Name[ug]=ئۇقتۇرۇشلار (Material)
Name[uk]=Сповіщення (Material)
Name[uz]=Xabarnomalar (Material)
Name[uz@cyrillic]=Хабарномалар (Material)
Name[wa]=Notifiaedjes (Material)
Name[x-test]=xxNotifications (Material)xx
Name[zh_CN]=通知 (Material)
Name[zh_TW]=通知 (Material)
Comment=Display notifications and jobs
Comment[ar]=اعرض الإخطارات والمهام
Comment[bg]=Показване на уведомления и задачи
Comment[bs]=Prikazuje obavještenja i poslove
Comment[ca]=Mostra les notificacions i els treballs
Comment[ca@valencia]=Mostra les notificacions i els treballs
Comment[cs]=Oznámení a úlohy
Comment[da]=Vis bekendtgørelser og job
Comment[de]=Benachrichtigungen und Aktionen anzeigen
Comment[el]=Εμφανίζει ειδοποιήσεις και εργασίες
Comment[en_GB]=Display notifications and jobs
Comment[es]=Mostrar notificaciones y tareas
Comment[et]=Märguannete ja tööde näitamine
Comment[eu]=Bistaratu jakinarazpenak eta lanak
Comment[fi]=Näyttää ilmoituksia ja töitä
Comment[fr]=Affiche les notifications et les tâches
Comment[ga]=Taispeáin fógraí agus jabanna
Comment[gl]=Mostra notificacións e tarefas
Comment[he]=משמש להצגת הודעות ועבודות
Comment[hr]=Prikazuje obavijesti i poslove
Comment[hu]=Értesítések és feladatok megjelenítése
Comment[ia]=Monstra notificationes e labores
Comment[id]=Tampilan pemberitahuan dan tugas
Comment[is]=Birting tilkynninga og verka
Comment[it]=Mostra notifiche e processi
Comment[ja]=ディスプレイ通知とジョブ
Comment[kk]=Құлақтандыру мен тапсырмаларды көрсету
Comment[km]=បង្ហាញ​ការ​ជូនដំណឹង និង​ការងារ
Comment[kn]=ಸೂಚನೆಗಳು ಹಾಗು ಕಾರ್ಯಗಳನ್ನು ಪ್ರದರ್ಶಿಸು
Comment[ko]=알림과 작업 표시
Comment[lt]=Rodyti pranešimus ir darbus
Comment[lv]=Parāda paziņojumus un darbus
Comment[mr]=सूचना व कार्यै दर्शवा
Comment[nb]=Vis varslinger og jobber
Comment[nds]=Bescheden un Opgaven wiesen
Comment[nl]=Meldingen en taken tonen
Comment[nn]=Vis varslingar og jobbar
Comment[pa]=ਨੋਟੀਫਿਕੇਸ਼ਨ ਤੇ ਜਾਬ ਵੇਖੋ
Comment[pl]=Wyświetla powiadomienia i zadania
Comment[pt]=Mostrar as notificações e tarefas
Comment[pt_BR]=Exibe notificações e tarefas
Comment[ro]=Afișează notificări și sarcini
Comment[ru]=Уведомления и задания
Comment[si]=කාර්ය සහ දැනුම්දීමෙ පෙන්වන්න
Comment[sk]=Zobrazenie upozornení a úloh
Comment[sl]=Prikazuje obvestila in posle
Comment[sr]=Приказује обавештења и послове
Comment[sr@ijekavian]=Приказује обавјештења и послове
Comment[sr@ijekavianlatin]=Prikazuje obavještenja i poslove
Comment[sr@latin]=Prikazuje obaveštenja i poslove
Comment[sv]=Visa underrättelser och jobb
Comment[tg]=Иттилооти огоҳиҳо ва амалҳо
Comment[th]=แสดงการแจ้งให้ทราบและงานต่าง ๆ
Comment[tr]=Bildirimleri ve görevleri göster
Comment[ug]=ئۇقتۇرۇش ۋە ۋەزىپىلەرنى كۆرسىتىدۇ
Comment[uk]=Показ сповіщень і завдань
Comment[vi]=Hiển thị thông báo và công việc
Comment[wa]=Håyner notifiaedjes eyet bouyes
Comment[x-test]=xxDisplay notifications and jobsxx
Comment[zh_CN]=显示通知和任务
Comment[zh_TW]=顯示通知與工作

Type=Service
Icon=preferences-desktop-notification
X-KDE-ParentApp=
X-KDE-PluginInfo-Author=Chris Holland
X-KDE-PluginInfo-Category=Tasks
X-KDE-PluginInfo-Email=zrenfire@gmail.com
X-KDE-PluginInfo-License=GPL-2.0+
X-KDE-PluginInfo-Name=com.github.zren.materialnotifications
X-KDE-PluginInfo-Version=1
X-KDE-PluginInfo-Website=http://plasma.kde.org/
X-KDE-ServiceTypes=Plasma/Applet
X-Plasma-API=declarativeappletscript
X-Plasma-Provides=org.kde.plasma.notifications
X-KDE-PluginInfo-EnabledByDefault=true
X-KDE-Library=plasma_applet_notifications

X-KDE-PluginInfo-OrigName=org.kde.plasma.notifications
X-KDE-PluginInfo-OrigAuthor=Martin Klapetek
X-KDE-PluginInfo-OrigEmail=mklapetek@kde.org

X-Plasma-MainScript=ui/main.qml
X-Plasma-RequiredExtensions=LaunchApp
X-Plasma-NotificationArea=true
X-Plasma-NotificationAreaCategory=ApplicationStatus
